{% extends "base.html" %}

{% block top_menu %}
    {% include 'common/top_menu.html' with menu=menu %}
{% endblock %}

{% block content %}
    <div class="row" style="height: 15px;"></div>
    <div class="row">
        {% block breadcrumb %}
            <ol class="breadcrumb">
                <li><a href="{% url 'news_list' %}">Strona Główna</a></li>
                <li class="active">{{ page.category.name }}</li>        
                <li class="active">{{ page.title }}</li>
            </ol>
        {% endblock %} 
    </div>
    <div class="row" style="padding-bottom: 100px;">
        <div class="col-lg-8 col-sm-8">
            <div class="lz-news">
                <h1>{{ page.title }}</h1>
                <span>{{ page.category.name }} | {{ page.created_at }}</span>
                <p>{{ page.content|safe }}</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>{{ page.category.name }}</strong></div>
                <div class="panel-body">
                    <p>Inne strony z tej kategorii.</p>
                </div>

                <div class="list-group">
                    {% for p in page.category.page_set.all %}
                        <a href="{% url 'page_show' slug=p.slug %}" 
                            class="list-group-item {% if p.slug == page.slug %}active{% endif %}">
                            {{ p.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}