.DS_Store
.idea
*.class
*.pyc
*.pyo
*/.git/*
*/migrations/*.py
.idea
high-school-site.sublime.project
high-school-site.sublime-workspace
grappeli/*
application/auto_static/*
application/media/*
application/static/images/carusele-background-test.jpg
application/high-school-site/settings.py
venv
build