*.class
*.pyc
*.pyo
*/.git/*
/high-school-site/settings.py
*/migrations/*.py
.idea
high-school-site.sublime.project
high-school-site.sublime.workspace
high-school-site.sublime-project
high-school-site.sublime-workspace
uploads/*
grappeli/*
auto_static/*
media/*

static/images/carusele-background-test.jpg
