{% extends "base.html" %}

{% block top_menu %}
    {% include 'common/top_menu.html' with menu=menu %}
{% endblock %}

{% block content %}
    <div class="row" style="height: 15px;"></div>
    <div class="row">
        {% block breadcrumb %}
            <ol class="breadcrumb">
                <li><a href="{% url 'news_list' %}">Strona Główna</a></li>
                <li class="active">{{ page.category.name }}</li>        
                <li class="active">{{ page.title }}</li>
            </ol>
        {% endblock %} 
    </div>
    <div class="row" style="padding-bottom: 100px;">
        <div class="col-lg-8 col-sm-8">
            <div class="lz-news">
                <h1>{{ page.title }}</h1>
                <span>{{ page.category.name }} | {{ page.created_at }}</span>
                <p>{{ page.content|safe }}</p>
            </div>
            {% if page.gallery %}
                {% if page.gallery.photo_set.all %}
                    <br/><br/>
                    <h4>Zdjęcia:</h4>
                    <div id="links" class="row">
                        {% for photo in page.gallery.photo_set.all %}
                            <div class="col-sm-6 col-md-3">
                                <a href="/media/{{ photo.image }}" class="thumbnail">
                                    <img src="/media/{{ photo.thumbnail }}" alt="">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
            <div id="blueimp-gallery" class="blueimp-gallery">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
            <script>
            document.getElementById('links').onclick = function (event) {
                event = event || window.event;
                var target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {index: link, event: event},
                    links = this.getElementsByTagName('a');
                blueimp.Gallery(links, options);
            };
            </script>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>{{ page.category.name }}</strong></div>
                <div class="panel-body">
                    <p>Inne strony z tej kategorii.</p>
                </div>

                <div class="list-group">
                    {% for p in page.category.get_all_published %}
                        <a href="{% url 'page_show' slug=p.slug %}" 
                            class="list-group-item {% if p.slug == page.slug %}active{% endif %}">
                            {{ p.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}