{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="text-align: center;">
            {% include 'information/_carousel.html' %}
        </div>
    </div>
    <div class="row">
        <div class="lz-information-left-column col-lg-8">
            {% include 'information/_informations.html' with informations=informations %}
        </div>
        <div class="lz-information-right-column col-lg-4">
            <div class="well">Right Column</div>
        </div>
    </div>
{% endblock %}