body {
    background-color: #585858;
    font-family: Arial;
}

@media (min-width: 1200px) {
    .container {
        max-width: 960px
    }
    .lz-carousel-navi {
        margin-left: -30px;
    }
}

.top-background {
    background-image: url('../images/container-bg.jpg');
}

.lz-header .header {
    background-color: transparent;
    height: 196px;
    margin-top: 0px;
}

.lz-header {
    background: transparent url('../images/background-top.jpg') repeat-x;
    background-position: 0px 0px;
}

.lz-footer {
    background-color: #585858;
    min-height: 100px;
    color: #fff;
    border-top: 5px #696969 solid;
}

.lz-footer .panel,
.lz-footer .panel-heading,
.lz-footer .list-group-item  {
    background-color: #585858;
    border-width: 0px;
}

.navbar-custom {
    margin-bottom: 0px;
    background-color: #000;
    border-radius: 0px;
}

.lz-menu {
    background-color: #333366;
}

.lz-menu .container {
    padding: auto 0px;
    background-color: #9999cc;
}

.lz-menu-nav {
    background-color: transparent;
}

.lz-menu-nav li a {
    font-family: Calibri, "Lucida Grande" , "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 26px;
}

.lz-menu-sub li a {
    font-weight: normal;
    text-transform: none;
}

@media (min-width: 992px) {
    .lz-menu-nav li a {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .lz-menu-nav li a {
        font-size: 18px;
    }
}

.lz-menu-nam li,
.nav-pills > li + li {
    padding:0px;
    margin: 0px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    border-color: #333366;
}

.lz-menu-nam li.dropdown a,
.nav-pills > li.dropdown a,
.nav-pills > li a{
    border-radius: 0px;
    margin: 0px;
    padding:0px;
    height: 46px;
    line-height: 46px;
}

.nav-pills.lz-menu-nav > li {
    border: 1px solid #333366;
    border-width: 0px 0px 0px 1px;
}


ul.lz-menu-nav > li:first-child{
    border-width: 0px 0px 0px 0px;
    padding: 0px;
}

.lz-menu-nav li a:hover,
.lz-menu-nav .dropdown.open a {
    border-radius: 0px;
    background-color: #9999cc;
}

.lz-menu-nav li.col-lg-2.col-sm-2.col-xs-6 {
    padding: 0px;
}

.lz-menu-nav .dropdown-menu {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

.lz-menu-nav li a:hover,
.lz-menu-nav .dropdown-menu a:hover {
    background-color: #cc6666;
}

ul.dropdown-menu.lz-menu-sub {
    border-width: 0px;
    border-radius: 0px;
}

@media (min-width: 1200px) {
    ul.dropdown-menu.lz-menu-sub {
    }
}

ul.dropdown-menu.lz-menu-sub a,
ul.dropdown-menu.lz-menu-sub li {
    padding: 0px;
    margin: 0px;
}

.nav-pills .lz-menu-sub > li a {
    line-height: 20px;
    height: 26px;
}

ul.dropdown-menu.lz-menu-sub a {
    border-width: 0px;
    font-size:14px;
    padding: 4px;
    text-align: left;
}

.lz-content {
    background-color: transparent;
}

.lz-content .container .row {
    background-color: #fff;
}

.lz-informations-h2 {
    color: #cc6666;
    font-size: 30px;
    border-bottom: 1px solid #e4e4e4;
}

.lz-information-left-column {

}

.lz-information-right-column {

}

.lz-news h4 {
    font-size: 20px;
    color: #575757;
}

.lz-news p {
    font-size: 14px;
    color: #000;
    display: block;
    text-align: justify;
}

.lz-news span {
    font-size: 12px;
    color: #939393;
    display: block;
}

.lz-news h4 a {
    color: #575757;
}

.admin-image-widget-thumb {
    float: left;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    padding: 8px;
    margin: 0px;
    text-align: left;
    bottom: 0px;
    right: 0px;
    left: 0px;
    font-size: 18px;
    font-family: Calibri, "Lucida Grande" , "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}

.ui-carousel-link:hover {
    text-decoration: underline;
}

.lz-carousel-navi-item {
    height: 109px;
    max-height: 109px;
    overflow: hidden;
    position: relative;
    z-index: 50;
}

.lz-carousel-navi-item.list-group-item:hover,
.lz-carousel-navi-item.list-group-item:focus {
    background-color: #444;
    border-color: #444;
    color: #fff;
}

.lz-carousel-navi-item h4 {
    font-size: 15px;
    padding: 4px 0px 0px 0px;
}

.lz-carousel-navi-item p {
    font-size: 12px;
}

.lz-carousel-navi-item.list-group-item:hover h4,
.lz-carousel-navi-item.list-group-item:focus h4 {
    color: #fff;
}

.lz-carousel-navi-item.active,
.lz-carousel-navi-item.list-group-item.active p.list-group-item-text,
.lz-carousel-navi-item.list-group-item.active h4
.lz-carousel-navi-item.list-group-item.hover,
.lz-carousel-navi-item.list-group-item.focus {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.lz-carousel-navi-item.active:hover,
.lz-carousel-navi-item.list-group-item.active:hover p.list-group-item-text,
.lz-carousel-navi-item.list-group-item.active:focus p.list-group-item-text,
.lz-carousel-navi-item.list-group-item.active:hover h4,
.lz-carousel-navi-item.list-group-item.active:focus h4
.lz-carousel-navi-item.list-group-item.active.hover,
.lz-carousel-navi-item.list-group-item.active.focus {
    color: #fff;
    background-color: #444;
    border-color: #444;
}

.lz-carousel-navi-item.list-group-item:first-child,
.lz-carousel-navi-item.list-group-item:last-child {
    border-radius: 0px;
}

.btn-more {
    color: #259260;
    font-size: 14px;
}

.carousel-thumb {
    padding: 4px;
    border: 1px solid #dedede;
    margin: 1px 10px 0px 0px;
}

.lz-carousel-navi-item.active .carousel-thumb {
    border: 1px solid #fff;
}

.footer-copyrights {
    margin: 0px;
    padding: 15px 0px 0px 0px;
    font-size: 12px;
}

.footer-copyrights a {
    color: #97B0C5;
}

.carousel-link {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 10px;
    right: 10px;
}

.row-gallery {
    margin-bottom: 10px;
}

.breadcrumb {
    border-radius: 0px;
}

.lz-news-full p a > img {
    width: 16px;
    height: auto;
}

.list-group-item-image {
    height: 122px;
    width: 287px;
}

.list-group-item-image-cku {
    background-image: url('../images/links.jpg');
    background-position: 0px 0px;
}

.list-group-item-image-cku:hover {
    background-position: 288px 0px;
}

.list-group-item-image-ko-gorzow {
    background-image: url('../images/links.jpg');
    background-position: 0px 488px;
}

.list-group-item-image-ko-gorzow:hover {
    background-position: 288px 488px;
}

.list-group-item-image-powiat-zary {
    background-image: url('../images/links.jpg');
    background-position: 0px 366px;
}

.list-group-item-image-powiat-zary:hover {
    background-position: 288px 366px;
}

.list-group-item-image-zary {
    background-image: url('../images/links.jpg');
    background-position: 0px 244px;
}

.list-group-item-image-zary:hover {
    background-position: 288px 244px;
}

.list-group-item-image-lubuskie {
    background-image: url('../images/links.jpg');
    background-position: 0px 122px;
}

.list-group-item-image-lubuskie:hover {
    background-position: 288px 122px;
}

#CookielawBanner {
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #99C;
}

#CookielawBanner p {
    color: #D9EDF7;
    padding: 24px 14px 14px 14px;
}

#CookielawBanner .icon {
    font-size: 32px;
    color: #FFC800;
    margin: 0px 10px 10px 0px;
}

#CookielawBanner .btn-primary {
    background-color: #9999CC;
    border-color: #9999CC;
    border-radius: 0px;
    margin-bottom: 8px;
    margin-left: 8px;
}

#CookielawBanner .btn-primary:hover {
    background-color: #333365;
    border-color: #9999CC;
}