{% extends "news/index.html" %}
{% load thumbnail %}

{% block carousel %}
{% endblock %}  
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'news_list' %}">Strona Główna</a></li>
        <li><a href="{% url 'gallery_index' %}">Galerie</a></li>
        <li class="active">{{ gallery.name }}</li>
    </ol>
{% endblock %}  
{% block left_column %}
    <div class="lz-news">
        <h1>{{ gallery.name }}</h1>
        <p>{{ gallery.description }}</p>
    </div>
    <div id="links">
        {% for photo in gallery.photo_set.all %}
            {% if forloop.first %}
                <div class="row row-gallery">
            {% endif %}
                <div class="col-sm-4 col-md-4">
                    <a href="/media/{{ photo.image }}" class="thumbnail">
                        <img class="img-responsive" src="{{ photo.image | thumbnail_url:'gallery_thumb' }}" alt="">
                    </a>
                </div>
            {% if forloop.last or forloop.counter|divisibleby:3 %}
                </div>
            {% endif %}         
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                <div class="row row-gallery">
            {% endif %}   
        {% endfor %}
    </div>

    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event},
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
    </script>

{% endblock %}  