<div class="row">
    <div class="col-lg-6">
        <div class="footer-copyrights">
            Copyright © 2013-2015 <a href="mailto:sekretariat@lo-zary.pl">lo-zary.pl</a><br/>
            Administracja <a href="mailto:administrator@lo-zary.pl">Marek Adamski</a><br/>
            Projekt graficzny <a href="mailto:a.adamska.priv@gmail.com">Agata Adamska</a><br/>
            Wykonanie <a href="https://github.com/piotrkowalczuk">Piotr Kowalczuk</a>
        </div>
    </div>
    <div class="col-lg-6">
    </div>
</div>