<div class="panel panel-default">
    <div class="panel-heading"><strong>Linki</strong></div>
    <div class="list-group">
        {% for link in links %}
            <a href="{{ link.url }}" class="list-group-item">
                {{ link.name }}
            </a>
        {% endfor %}
    </div>
</div>

<div class="panel panel-default visible-md visible-lg">
    <div class="panel-heading"><strong>Linki</strong></div>
    <div class="list-group">
        <a href="http://www.cke.edu.pl/" class="list-group-item list-group-item-image list-group-item-image-cku"></a>
        <a href="http://www.ko-gorzow.edu.pl/" class="list-group-item list-group-item-image list-group-item-image-ko-gorzow"></a>
        <a href="http://www.powiatzary.pl/" class="list-group-item list-group-item-image list-group-item-image-powiat-zary"></a>
        <a href="http://www.zary.pl/" class="list-group-item list-group-item-image list-group-item-image-zary"></a>
        <a href="http://lubuskie.pl/" class="list-group-item list-group-item-image list-group-item-image-lubuskie"></a>
    </div>
</div>

<div class="panel panel-default visible-xs visible-sm">
    <div class="panel-heading"><strong>Linki</strong></div>
    <div class="list-group">
        <a href="http://www.cke.edu.pl/" class="list-group-item">Centralna Komisja Egzaminacyjna</a>
        <a href="http://www.ko-gorzow.edu.pl/" class="list-group-item">Kuratorium Oświaty - Gorzów Wlkp.</a>
        <a href="http://www.powiatzary.pl/" class="list-group-item">Starostwo Powiatowe Żary</a>
        <a href="http://www.zary.pl/" class="list-group-item">Urząd Miasta Żary</a>
        <a href="http://lubuskie.pl/" class="list-group-item">Województwo Lubuskie</a>
    </div>
</div>