{% if news_list %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Aktualności</strong></div>
        <div class="list-group">
            {% for news in news_list %}
                {% include 'news/_news.html' with news=news %}
            {% endfor %}  
        </div>
    </div>

    <ul class="pager">
        <li class="next {% if not news_list.has_previous %}disabled{% endif %}">
            <a href="{% if news_list.has_previous %}?page={{ news_list.previous_page_number }}{% else %}#{% endif %}">Następna &rarr;
            </a>
        </li>  
        
        <li>
            <span class="current">
                {{ news_list.number }} z {{ news_list.paginator.num_pages }}
            </span>
        </li>

        <li class="previous {% if not news_list.has_next %}disabled{% endif %}">
            <a href="{% if news_list.has_next %}?page={{ news_list.next_page_number }}{% else %}#{% endif %}">
                &larr; Poprzednia
            </a>
        </li>
    </ul>
{% else %}
    <div class="alert alert-info">Brak aktualności</div>
{% endif %}  

