{% extends "base.html" %}

{% block collapse_menu %}
    {% include 'common/collapse_menu.html' with menu=menu %}
{% endblock %}
{% block top_menu %}
    {% include 'common/top_menu.html' with menu=menu %}
{% endblock %}
{% block content %}
    <div class="row" style="height: 15px;">
    </div>
    {% block carousel %}
        <div class="row">
            {% include 'news/_carousel.html' with news_pinned=news_pinned %}
        </div>
    {% endblock %}
    <div class="row">
        {% block breadcrumb %}{% endblock %}
    </div>
    <div class="row" style="padding-bottom: 100px;">
        <div class="lz-information-left-column col-lg-8 col-sm-8">
            {% block left_column %}
                {% include 'news/_list.html' with news_list=news_list %}
            {% endblock %}
        </div>
        <div class="lz-information-right-column col-lg-4 col-sm-4">
            {% block right_column %}
                {% include 'common/links.html' with links=links %}
                {% include 'common/address.html' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
