{% load thumbnail %}
<div style="height: 20px"></div>
{% if news.event %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>
                <i class="glyphicon glyphicon-calendar"></i> <a href="{% url 'event_details' slug=news.event.slug %}" style="color: #000;">{{ news.event.title }}</a>
            </strong>
        </div>
        <div class="panel-body">
            <p>{{ news.event.description|truncatechars:200 }}</p>
            <hr>
            <strong>od</strong> {{ news.event.start_at|date:"l d E Y H:i" }} <br/>
            <strong>do</strong> {{ news.event.end_at|date:"l d E Y H:i" }}
        </div>
        <div class="panel-footer text-right">
            <a href="{% url 'event_details' slug=news.event.slug %}">więcej »</a>
        </div>
    </div>
{% endif %}