{% load thumbnail %}
<div style="height: 20px"></div>
{% if news.event %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>
                <i class="glyphicon glyphicon-calendar"></i> <a href="{% url 'event_details' slug=news.event.slug %}" style="color: #000;">{{ news.event.title }}</a>
            </strong>
        </div>
        <div class="panel-body">
            <p>{{ news.event.description|truncatechars:200 }}</p>
            <hr>
            <strong>od</strong> {{ news.event.start_at|date:"l d E Y H:i" }} <br/>
            <strong>do</strong> {{ news.event.end_at|date:"l d E Y H:i" }}
        </div>
        <div class="panel-footer text-right">
            <a href="{% url 'event_details' slug=news.event.slug %}">więcej »</a>
        </div>
    </div>
{% endif %}
{% if photos %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>
                <i class="glyphicon glyphicon-picture"></i> Zdjęcia
            </strong>
        </div>
        <div class="panel-body panel-body-photo">
            {% for photo in photos %}
                {% if forloop.first %}
                    <div id="links" class="">
                {% endif %}
                    <div class="thumbnail">
                        <a href="/media/{{ photo.image }}">
                            <img class="img-responsive" src="{{ photo.image | thumbnail_url:'gallery_thumb' }}" alt="">
                        </a>
                        {% if photo.description %}
                            <div class="caption">
                                <p><small>{{ photo.description }}</small></p>
                            </div>
                        {% endif %}
                    </div>
                {% if forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event},
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
    </script>
{% endif %}