{% extends "base.html" %}
{% load event_tags %}

{% block title %}I LO im B. Prusa w Żarach | Strona Główna{% endblock %}

{% block collapse_menu %}
    {% include 'common/collapse_menu.html' with menu=menu %}
{% endblock %}

{% block top_menu %}
    {% include 'common/top_menu.html' with menu=menu %}
{% endblock %}

{% block content %}
    <div class="row">
        {% block breadcrumb %}
        {% endblock %}
    </div>
    {% block carousel %}
        <div class="row" style="padding-top: 15px;">
            {% include 'news/_carousel.html' with news_pinned=news_pinned %}
        </div>
        {% if news_pinned %}
            <div class="row">
                <div class="col-lg-13">
                    <hr>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    <div class="row" style="padding-bottom: 100px;">
        <div class="lz-information-left-column col-lg-9 col-sm-9">
            {% block left_column %}
                {% include 'news/_list.html' with news_list=news_list %}
            {% endblock %}
        </div>
        <div class="lz-information-right-column col-lg-4 col-sm-4">
           <!--  <a href="https://powiatzarski.edu.com.pl/kandydat/app/access_locked.html" class="thumbnail">
                <img src="{{ STATIC_URL }}images/nabor2016.jpg" alt="nabór 2016"/>
            </a> -->
            <div class="event-calendar">
                {% event_calendar events %}
            </div>
            {% block right_column %}
                {% include 'common/address.html' %}
                {% include 'common/links.html' with links=links %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
