{% extends "base.html" %}

{% block title %}I LO im B. Prusa w Żarach | Aktualności{% endblock %}

{% block top_menu %}
    {% include 'common/top_menu.html' with menu=menu %}
{% endblock %}

{% block content %}
    <div class="row" style="padding-bottom: 100px;">
        <div class="lz-information-left-column col-lg-9 col-sm-9">
            {% block left_column %}
                {% include 'news/_list.html' with news_list=news_list %}
            {% endblock %}
        </div>
        <div class="lz-information-right-column col-lg-4 col-sm-4">
            {% block right_column %}
                {% include 'common/address.html' %}
                {% include 'common/links.html' with links=links %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
