{% extends "news/index.html" %}

{% block title %}I LO im B. Prusa w Żarach | {{ news.title }}{% endblock %}

{% block carousel %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-13">
            {% block breadcrumb %}
                <ol class="breadcrumb">
                    <li><a href="{% url 'news_list' %}">Strona Główna</a></li>
                    <li class="active">{{ news.title }}</li>
                </ol>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-13">
            <div class="page-header">
                <h1>
                    {{ news.title }}
                </h1>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom: 100px;">
        <div class="col-md-9 col-sm-13">
            {% include 'news/_news_full.html' with news=news %}
        </div>
        <div class="col-md-4 col-sm-13">
            {% include 'news/_news_right.html' with news=news %}
        </div>
    </div>
{% endblock %}