<div class="panel panel-default">
    <div class="panel-heading">Adres</div>
    <div class="panel-body">
        <address>
            <strong>
                I Liceum Ogólnokształcące im. Bolesława Prusa w Żarach
            </strong>
            <br>
            ul. Podwale 16<br>
            68-200 Żary<br>
            <abbr title="Telefon">Telefon:</abbr> 068 374 36 76<br/>
            <abbr title="Email">Email:</abbr> <a href="mailto:sekretariat@lo-zary.pl">sekretariat@lo-zary.pl</a>
        </address>
    </div>
</div>