<ul class="nav nav-pills lz-menu-nav">
    <li class="col-lg-2 col-sm-2 col-xs-6"><a href="{% url 'news_list' %}">Aktualności</a></li>
    {% for category in menu %}
        <li class="col-lg-2 col-sm-2 col-xs-6 dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                {{ category.name }}
            </a>
            <ul class="dropdown-menu lz-menu-sub">
                {% for sub_category in category.childrens.all %}
                    <li>
                        <a href="{% url 'news_filter' category_name=sub_category.name %}">
                            {{ sub_category.name }}
                        </a>
                    </li>
                {% endfor %}               
                {% for page in category.page_set.all_published_alphabetically %}
                    <li>
                        <a href="{% url 'page_show' slug=page.slug %}">{{ page.title }}</a>
                    </li>
                {% endfor %} 
            </ul>
        </li>
    {% endfor %}
</ul>