{% extends "base.html" %}

{% block title %}I LO im B. Prusa w Żarach | Archiwum Galerii{% endblock %}

{% block collapse_menu %}
    {% include 'common/collapse_menu.html' with menu=menu %}
{% endblock %}

{% block top_menu %}
    {% include 'common/top_menu.html' with menu=menu %}
{% endblock %}

{% block content %}
    <div class="row" style="height: 15px;"></div>
    <div class="row">
        <div class="col-lg-13">
            {% block breadcrumb %}
                <ol class="breadcrumb">
                    <li><a href="{% url 'news_list' %}">Strona Główna</a></li>
                    <li><a href="{% url 'gallery_index' %}">Galerie Zdjęć</a></li>
                    <li class="active">Galerie Zdjęć (Archiwum)</li>
                </ol>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-13 lz-news">
            <h1>Archiwum Galerii</h1>
        </div>
    </div>
    <div class="row" style="padding-bottom: 100px;">
        <div class="lz-information-left-column col-lg-9 col-sm-9">
            {% include 'gallery/_list.html' %}
        </div>
        <div class="col-lg-3 col-sm-3">
            {% include 'gallery/_archive_search.html' %}
        </div>
    </div>
{% endblock %}
